<!DOCTYPE html>
<link href="~/Content/MyStyles/Layout.css" rel="stylesheet" />
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    @* @Scripts.Render("~/bundles/modernizr")*@
</head>

<body>
    <Header class="header-external-container">
        <div class="image-div">
            <img src="~/Images/claysys-logo.png" alt="logo-image" class="image-class" />

        </div>
        <nav class="navbar-class">
            <ul class="navlink-ul">

                <li class="nav-link">@Html.ActionLink("Home", "Home", "Dashboard")</li>
                <li class="nav-link">@Html.ActionLink("About us", "AboutUs", "Dashboard")</li>
                <li class="nav-link">@Html.ActionLink("Contact us", "ContactUs", "Dashboard")</li>
                <li class="nav-link">@Html.ActionLink("Sign up", "SignUp", "Users")</li>
                <li class="nav-link">@Html.ActionLink("Login", "Login", "Users")</li>

            </ul>

        </nav>

    </Header>
    <div class="content-div">
        @RenderBody()
        <hr />
    </div>
    <footer class="footer-external-container">
        <div class="footer-div-1"><span>&copy;claysys</span></div>

    </footer>

    @* @Scripts.Render("~/bundles/jquery")
         @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
